# Archivos temporales de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos del sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Entornos virtuales (por si acaso creas uno luego)
venv/
.venv/
env/
